{% extends 'base.html.twig' %}

{% block title %}Nouveau joueur{% endblock %}

{% block body %}
    <h1>Ajouter un joueur</h1>

    <div class="form-card">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.username) }}
            {{ form_row(form.number) }}
            {{ form_row(form.score) }}
            {{ form_row(form.team) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}